{% extends 'trade/base.html' %}
{% load staticfiles %}

{% block title %}
Домашняя страница
{% endblock %}

{% block content %}
        <div  class="card-columns">
        {% for product in product_list %}
            <div class="card">
                {% if product.image %}
                    <a href="{{ product.get_absolute_url }}">
                        <img class="img-thumbnail mx-auto d-block" src="{{ product.image.url }}" alt="Card image"
                             style="height: 130px; width: auto; border: 0px">
                    </a>
                {% endif %}
                <div class="card-body">
                    <h4 class="card-title"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>
                    <span class="align-right">{{ product.owner }}</span>
                    <p class="card-text">{{ product.description }}</p>
                    <h5>{{ product.price }} кр.</h5>
                </div>
            </div>
        {% endfor %}
        </div>


{% endblock %}